absl-py
asttokens
astunparse
attrs
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
cloudpickle
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
docopt
executing
Farama-Notifications
fastjsonschema
filelock
flatbuffers
fonttools
fsspec
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gym
gym-notices
gymnasium
h11
h5py
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
MouseInfo
mplfinance
mpmath
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
oauthlib
opt_einsum
optree
outcome
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
PySimpleGUI
PySocks
python-dateutil
pytweening
pytz
pywin32
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikeras
scikit-learn
scipy
seaborn
selenium
six
sniffio
sortedcontainers
soupsieve
stack-data
sympy
ta
TA-Lib @ file:///D:/Playground/bots/trading/pocket-option-bot/TA_Lib-0.4.32-cp311-cp311-win_amd64.whl#sha256=9adbd8b5bf7b6db1893e85075f8923b8ac7196681fd0d1a56f0a425ee37b65e2

tensorboard
tensorboard-data-server
tensorflow
tensorflow-decision-forests
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tinycss2
torch
tornado
tqdm
traitlets
trio
trio-websocket
ttkbootstrap
typing_extensions
tzdata
tzlocal
urllib3
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wrapt
wsproto
wurlitzer
yarg
